<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda</title>
</head>
<body>
    
    <h1>Agenda</h1>

    <ul>
        <li th:each="contato : ${lista}">
            <a th:href="@{/detalhes/{id}(id=${contato.id})}" th:text="${contato.nome}">NOME</a>
            <a th:href="@{/editar/{id}(id=${contato.id})}">Editar</a>
            <a th:href="@{/deletar/{id}(id=${contato.id})}">Deletar</a>
        </li>
    </ul>

    <a href="/cadastro">Novo contato</a>

</body>
</html>